apiVersion: v1
kind: Service
metadata:
  name: bookeo-mcp
  labels:
    app: bookeo-mcp
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: bookeo-mcp
